body {
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(246, 230, 230);
}

header {
    background-color: rgba(135, 227, 245, 0.959);
    color: rgb(5, 66, 247);
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 10px;
    position: relative;
    text-decoration: none;
}

header a {
    color: rgb(79, 69, 220); 
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#categories-container,
#products-container,
#product-details-container {
    padding: 20px;
    width: 100%;
}

.product,
.category {
    line-height: 25px;
}

#message {
    color: rgb(220, 95, 95);
}

button {
    background-color: rgb(2, 13, 165);
    border: none;
    color: rgb(252, 251, 251);
    padding: 3px 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0px 20px;
    cursor: pointer;
}

header h1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(2, 80, 235);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

header h1:hover::after {
    visibility: visible;
    width: 100%;
}

header a:hover {
    text-transform:uppercase;
    color: rgb(7, 50, 242);
}

button:hover {
    background-color: rgb(11, 211, 251);
}